In [1]:
import pandas as pd

In [2]:
#creamos con indices personalizados
psg_players= pd.Series(['Navas', 'Mbappe', 'Neymar','Messi'],
          index=[1,7,10,30]
          )

In [3]:
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [4]:
#creamos con indices por defecto
pd.Series(['Navas', 'Mbappe', 'Neymar','Messi'],
          )

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [5]:
#Creamos un diccionario
dic={'Navas':1, 'Mbappe':7, 'Neymar':10, 'Messi':30}
pd.Series(dic)  #obtenemos el mismo resultado

Navas      1
Mbappe     7
Neymar    10
Messi     30
dtype: int64

In [9]:
psg_players[0:3]

1      Navas
7     Mbappe
10    Neymar
dtype: object

In [10]:
#creamos una estructura de varias dimensiones
dict={'Jugador': ['Navas', 'Mbappe', 'Neymar','Messi'],
 'Altura': [187.0, 175.0, 182.0, 178.0],
 'Goles': [2,200,200,200]
 }

In [11]:
pd.DataFrame(dict, index=[1,7,10,30])

   Jugador  Altura  Goles
1    Navas   187.0      2
7   Mbappe   175.0    200
10  Neymar   182.0    200
30   Messi   178.0    200

In [12]:
df_players=pd.DataFrame(dict)

In [13]:
df_players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')